<!DOCTYPE html>
<html>
  <head>
    <title>RAIL BARON</title>
    <link rel="stylesheet" href="/static/rail_baron.css" />
  </head>

  <body>
    <a href={{ urls.build('index') }}>Home</a>

    {% block body %}{% endblock %}

    <div class="base-form">
      <form action="{{ urls.build('get region') }}">
        <input type="submit" value="Choose a region" />
      </form>
    </div>

    <div class="base-form">
      <form action="{{ urls.build('lookup payoff') }}">
        <select name="source_city">
          {% for source_city in all_cities %}
            <option name={{ source_city }}>{{ source_city }}</option>
          {% endfor %}
        </select>
        <select name="destination_city">
          {% for dest_city in all_cities %}
            <option name={{ dest_city }} {% if dest_city == city %} selected {% endif %}>
              {{ dest_city }}
            </option>
          {% endfor %}
        </select>
        <input type="submit" value="Lookup payoff" />
      </form>
    </div>

  </body>
</html>
